* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.container {
  width: 800px;
  margin: 100px auto;
  padding: 15px;
  background-color: aqua;

  display: flex;
  flex-direction: column;
  
}

input {
  width: 70%;
  /* margin: 15px; */
  padding: 15px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #000;
  outline: none;
}

button {
  padding: 15px;
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
}